@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide horizontal scrollbar but keep scrollability */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
